*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$robotto:'Roboto', sans-serif;

.signup_signin{
    background-color: #E5E5E5;
    display: flex;
    font-family: $robotto;
    font-weight: 400;
    padding-left: 214px ;
    margin-bottom: 0;
    .box1{
        flex-basis: 50%;
        padding-top: 274px;
        h3{
            font-size: 100px;        
            color: #02569C;
        }
        .box1_logo{
            max-width: 310px;
            height: 80px;
            margin: 60px 0 60px 0;
            svg{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-size: 26px;
            color: #939597;
            margin-bottom: 60px; 
            
        }
        .for_buttons{
           button{
               width: 365px;
               height: 70px;
               border-radius: 50px;
               a{
                   text-decoration: none;
                   font-size: 26px;

               }
           }
           .first_button{
               background-color: #02569C;
               border: none;
               margin-right: 16px;
               a{
                color: #FFFFFF;
               }
           }
           .second_button{              
               border: 1px solid #02569C;
               a{
                   color: #02569C;
               }
           }
        }


    }
    .box2{
        flex-basis: 50%;
        padding-bottom: 30px;
        max-width: 1000px;
        max-height: 1118px;
            svg{
                width: 100%;
                height: 100%;
            }
    }
    @media screen and(max-width:1715px){
        padding-left: 150px;
        .box1{
            h3{
                font-size:90px;
               
            }
            .box1_logo{
                margin-top: 40px;
                margin-bottom: 40px;
            
            }
            p{
                font-size: 26px;
                margin-bottom: 40px;
            }
            .for_buttons{
               
                button{
                    width:350px;
                }

            }
           
        }
    }
    @media screen and(max-width:1590px){
        padding-left: 90px;
        .box1{
            padding-bottom: 288px;
            h3{
                font-size:90px;
            }
            .box1_logo{
                width: 254px;
                height: 64px;
            }
            p{
                font-size: 26px;
            }
            .for_buttons{
                margin-right: 25px;
                button{
                    width:330px;
                    height: 60px;
                }

            }
           
        }
        .box2{
            max-width:1000px;
            max-height:1000px;
           
        }
      
    }
    @media screen and(max-width:1500px){
        .box1{
            flex-basis: 60%;
         
            h3{
                font-size:80px;
            }
           
            p{
                font-size: 24px;
                
            }
        }
        .box2{
            flex-basis: 40%;
           
           
        
        }
      
    }
    @media screen and(max-width:1380px){
        .box1{
            flex-basis: 60%;
            h3{
                font-size:60px;
            }
           
            p{
                font-size: 22px;
                
            }
            .box1_logo{
                width: 245px;
                height: 66px;
            }
            .for_buttons{
                margin-right: 25px;
                button{
                    width:300px;
                    height: 50px;
                }

            }
        }
        .box2{
            flex-basis: 40%;
            max-width: 880px;
            max-width: 880px;
          
            
         
        }
      
    }
   

  
}
    

